body {
    overflow: hidden;
    background: #000;
}

.backgroundimg {
    z-index: 0;
    opacity: 0.7;
}

/* media query */

@media only screen and (max-width: 375px) {

    /* main */
    .logo {
        width: auto;
        height: auto;
    }

    /* social media icons */
    .social-icon {
        position: absolute;
        color: white;
        text-align: center;
        bottom: 0;
    }

    .social-icon2 {
        display: none;
    }

    /* Sepet */
    .sepet {
        left: 50%;
        right: 50%;
    }
}

@media only screen and (min-width: 375px) {
    .social-icon {
        display: none;
    }
}

/*navbar */

.vcenter-item {
    display: flex;
    align-items: center;
}

.navbarproperty {
    font-family: 'Lobster', cursive;
    font-size: 38px;
}


/* navbar hover animation */

.navbar .navbar-nav .nav-link:hover {
    color: #ffff;
}

.navbar .navbar-nav .nav-link {
    padding: 0.1em 0.7em;
}

.navbar {
    padding: 0;
}

.navbar .navbar-brand {
    padding: 0 0.7em;
}

.navbar .navbar-nav .nav-link {
    position: relative;
}

.navbar .navbar-nav .nav-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #ffff;
    color: transparent;
    width: 0;
    content: '';
    height: 3px;
    transition: all 0.5s;
}

.navbar .navbar-nav .nav-link:hover::after {
    width: 50%;
}

@media only screen and (max-width: 990px) {
    .navbar .navbar-nav .nav-link:hover::after {
        width: 10%;
    }
}


/* main */

.background {
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

.logo {
    z-index: 1;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* main social */

.social-icon2 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 33%;
    color: white;
    margin-right: 70px;
    right: 0;


}

.main-social {
    list-style-type: none;
    margin-right: 30px;
}


/* Sepet */

.sepet {
    width: auto;
    height: auto;
    position: absolute;
    top: 13%;
    left: 14.5%;
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 70px;
    padding-bottom:10%;
}

.sepet-box {
    display: flex;
    position: absolute;
    width: 70%;
    height: 70%;
    background-color: #9E5E3B;
    top: 30%;
    left: 35%;
    right: 40%;
    transform: translate(-30%, -10%);
    overflow-y: scroll;
    overflow-x: hidden;
    opacity: 0.9;
}

.image-sepet{
    width:100vw;
    height: auto;
}
.card-properties{
    margin-top: 3vh;
    width: 68vw;
    height: auto;
}
.sepet-card-title{
    color: black;
    font-family: 'Lobster', cursive;
    font-size: 45px;
}
.sepet-card-price{
    color: #ffffff;
    font-family: 'Oxanium', cursive;
    font-size: 30px;
    font-weight: bold;
}
.card-body{
    background-color: #B8C6CD;
}
.sepet-card-container{
    float: left;
}
.sepet-card-price-card{
    width: 7vw;
    height: auto;
    background-color: #605A57;
}
.sepet-card-edit-icon{
    width: 40px;
    height: 40px;
}


/* menu*/
.menu	 {
    z-index: 1;
    width: auto;
    height: auto;
    position: absolute;
    top: 13%;
    left: 14.5%;
    transform: translate(-8%, -8%);
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 70px;
}

.menu-box {
    display: flex;
    position: absolute;
    width: 70%;
    height: 70%;
    background-color: #9E5E3B;
    top: 30%;
    left: 35%;
    right: 40%;
    transform: translate(-30%, -10%);
    overflow-y: scroll;
    overflow-x: hidden;
	padding:50px;
}

.menu-card{
	font-family: 'Lobster', cursive;
}

 .menu-card i{
    position: absolute;
    right: 18%;
    bottom: 7%;
} 

