
body{
    overflow: hidden;
    background: #000;
}
.vcenter-item{
    display: flex;
    align-items: center;
}
.logo{
    z-index: 1;
    width: auto;
    height: auto;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.backgroundimg{
    z-index: 0;
    opacity: 0.7;
}
.navbarproperty{
    font-family: 'Lobster', cursive;
    font-size: 38px;
}
.background{
    overflow: hidden;
    height: 100vh;
    width: 100%;
}
.iconssize{
    position: absolute;
    width: 50px;
    height: 50px;
    top:35%;
    right: 0;
    transform: translate(0, -35%);
    color: white;
    margin-right: 30px;
}
.sepet{
    z-index: 1;
    width: auto;
    height: auto;
    position:absolute;
    top:13%;
    left:8%;
    transform: translate(-8%, -8%);
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 70px;
}
.sbox{
    display: flex;
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: #9E5E3B;
    top: 30%;
    left: 10%;
    transform: translate(-30%, -10%);
}
@media only screen and (max-width: 375px){
    .logo{
        width: auto;
        height: auto;
    }
    .iconssize{
        margin-right: 10px;
        width: 40px;
        height: 40px;
    }
}

/* navbar hover animation */

  */
  .navbar .navbar-nav .nav-link:hover {
    color: #000000;
  }
  @media only screen and (min-width: 960px) {
    .navbar .navbar-nav .nav-link {
      padding: 0.1em 0.7em;
    }
    .navbar {
      padding: 0;
    }
    .navbar .navbar-brand {
      padding: 0 0.7em;
    }
  }
  .navbar .navbar-nav .nav-link {
    position: relative;
  }
  .navbar .navbar-nav .nav-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #ffff;
    color: transparent;
    width: 0%;
    content: '';
    height: 3px;
    transition: all 0.5s;
  }
  .navbar .navbar-nav .nav-link:hover::after {
    width: 50%;
  }