body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    color: #b2b2b2;
    background-image: url("/images/background.jpg");
	font-family:Arial, Helvetica, sans-serif;

    .navbar{
        font-size: 20px;
        color: bisque;
        width: 100vw;
    }
    a:link, a:visited {
        color: #b2b2b2;
    }
    nav{
        position: sticky;
    }
    #navleft{
        float: left;
        padding: 14px 16px;
        text-decoration: #948d8d;
        opacity: 0.5;
    }
    #navright{
        float: right;
        padding: 14px 16px;
        text-decoration: #b2b2b2;
        opacity: 0.5;
    }
    .bg-image{
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("/images/background.jpg");

    }
    .container{
        width: 100%;
        height: 100%;
        scroll-snap-type: x proximity;
        overflow: scroll;
        display: flex;
        
        section{
            flex: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
            scroll-snap-align: start;

            &:nth-of-type(1){
                color: #b2b2b2;
                background-size: auto;
            }
            
            &:nth-of-type(2){
                color: #b2b2b2;
            }
            
            &:nth-of-type(3){
                color: #b2b2b2;
            }
            h1{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 15em;
            }
        }
    }
}